{% extends 'dmjb/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ category.name }}
{% endblock %}

 {% block body_block %}

    {% if job %}
    <div class="row">
        <div class="col-12">
      <h1 class="text-center mt-4">{{ job.title }}</h1>
    </div>
</div>
            <div class="card mt-4 mb-5 pl-2">
  <div class="card-body" >

            <ul class="list-unstyled">
                <p><small>Created: {{ job.created_at }}</small></p>
                <p>{{ job.description }}</p>
                <p>Please send your CV to: <a href="mailto:{{ job.contact_email }}">{{ job.contact_email }}</a></p>
                <p>Job's URL: <a href="{{ job.url }}">{{ job.url }}</a><p>

            </ul>

            {% else %}
            <strong>The specified page does not exist!</strong>
            {% endif %}

        </div>

        </div>

{% endblock %}
