{% extends "dmjb/base.html" %}
{% load widget_tweaks %}

{% block body_block %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Register here</h3>
                <form method="post" action="." >
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}

                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                            {% endif %}
                    </div>
                    {% endfor %}
                    </br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}








<!--<h1>Register Here</h1>-->
<!--<form method="post" action=".">-->
<!--{% csrf_token %}-->
<!--{{ form.as_p }}-->
<!--<input type="submit" value="Submit" />-->
<!--</form>